<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejecutar Código Python</title>
    <!-- Los archivos JS tienen que estar en la siguiente ruta al utilizarse Flask -->
    <script src="{{ url_for('static', filename='token.js') }}" defer></script>
</head>

<body>

    <h1>Ingresá tus credenciales</h1>
    <form action="/get_login" method="post"></form>
    <label for="public_key">Clave Pública:</label>
    <input type="text" id="public_key" name="public_key" ><br><br>
    <label for="private_key">Clave Privada:</label>
    <input type="text" id="private_key" name="private_key"><br><br>
    </form>

    <label for="ambiente_sand">Ambiente SAND</label>
    <input type="checkbox" id="ambiente_sand" name="ambiente_sand"><br><br>
    <button onclick="logIn()">Log in</button>

    <br> <!-- Línea en blanco -->
    <br>

    <pre id="logInTokenResponse"></pre>
    <pre id="refreshAccessTokenResponse"></pre>

    <br> <!-- Línea en blanco -->
    <br>

    <button onclick="fetchAccounts()">Obtener Cuentas</button>
    
    <br> <!-- Línea en blanco -->
    <br>

    <pre id="accounts"></pre>
</body>

</html>