<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejecutar Código Python</title>
    <!-- Los archivos JS tienen que estar en la siguiente ruta al utilizarse Flask -->
    <script src="{{ url_for('static', filename='token.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .password-container {
            position: relative;
            display: inline-block;
        }
        .password-container input {
            padding-right: 30px; /* Espacio para el ícono del ojo */
        }
        .password-container .toggle-visibility {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 18px; /* Tamaño del ícono */
            color: #555;
        }
        input[type="date"] {
            padding: 5px;
            font-size: 16px;
        }
    </style>
</head>

<body>

    <h1>Ingresá tus credenciales</h1>
    <label for="public_key">Clave Pública:</label>
    <input type="text" id="public_key" name="public_key"><br><br>

    <label for="private_key">Clave Privada:</label>
    <div class="password-container">
        <input type="password" id="private_key" name="private_key">
        <span class="toggle-visibility" onclick="togglePasswordVisibility()">
            <i class="fas fa-eye" id="eye-open"></i> <!-- Ojo abierto -->
            <i class="fas fa-eye-slash" id="eye-closed" style="display: none;"></i> <!-- Ojo cerrado -->
        </span>
    </div><br><br>

    <label for="ambiente_sand">Ambiente SAND</label>
    <input type="checkbox" id="ambiente_sand" name="ambiente_sand"><br><br>

    <button type="button" onclick="logIn()">Log in</button>

    <br> <!-- Línea en blanco -->
    <br>

    <pre id="logInTokenResponse"></pre>
    <pre id="refreshAccessTokenResponse"></pre>

    <br> <!-- Línea en blanco -->
    <br>

    <div style="display: flex; gap: 20px; align-items: center;">
        <!-- Botón para obtener las cuentas -->
        <button type="button" onclick="fetchAccounts()">Obtener Cuentas</button>
        <!-- Campo de lista para las cuentas -->
        <select id="accounts">
            <option value="">Seleccione una cuenta</option>
        </select>
        <!-- Campo para mostrar mensaje de error obtenido al buscar cuentas -->
        <pre id="accountsErrormessage" style="color: red; margin: 0;"></pre>
    </div>

    <br><br>

    <!-- Campos DateFrom, DateTo, Ticker -->
    <div style="display: flex; gap: 20px;">
        <div>
            <label for="date_from">DateFrom:</label>
            <input type="date" id="date_from" name="date_from">
        </div>
        <div>
            <label for="date_to">DateTo:</label>
            <input type="date" id="date_to" name="date_to">
        </div>
        <div>
            <label for="ticker">Ticker:</label>
            <input type="text" id="ticker" name="ticker">
        </div>
    </div>

    <br><br>

    <div style="display: flex; gap: 20px; align-items: center;">
        <!-- Botón para buscar movimientos -->
        <button type="button" onclick="getAccountMovements()">Buscar Movimientos</button>
        <!-- Campo para mostrar mensaje de error obtenido al buscar movimientos -->
        <pre id="movementsErrormessage" style="color: red; margin: 0;"></pre>
    </div>

    <br><br>

    <!-- Tabla para mostrar los movimientos -->
    <table id="movimientos" border="1">
        <thead>
            <tr>
                <th>AgreementDate</th>
                <th>SettlementDate</th>
                <th>Moneda</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Description</th>
                <th>Ticker</th>
                <th>Quantity</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se insertarán las filas de datos -->
        </tbody>
    </table>

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('private_key');
            var eyeOpen = document.getElementById('eye-open');
            var eyeClosed = document.getElementById('eye-closed');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeOpen.style.display = 'none';
                eyeClosed.style.display = 'inline';
            } else {
                passwordInput.type = 'password';
                eyeOpen.style.display = 'inline';
                eyeClosed.style.display = 'none';
            }
        }
    </script>

</body>

</html>
